<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Список врачей</title>
</head>

<body>
<div th:replace="fragments/nav-bar/nav-bar :: nav"></div>

<div class="container">
	<h3>Список врачей</h3>
	<hr>
	<a th:href="@{/doctors/add}">Добавить врача</a>
	<table>
		<thead>
		<tr>
			<th>Имя</th>
			<th>Фамилия</th>
			<th>Направление</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="doctor : ${doctorList}">
			<td th:text="${doctor.name}"></td>
			<td th:text="${doctor.fatherName}"></td>
			<td th:text="${doctor.disease != null ? doctor.disease.diseaseName : 'Нет'}"></td>
			<td><a th:href="@{/doctors/update(id=${tempdoctor.id})}"
				   >Обновить</a>
				<a th:href="@{/doctors/delete(id=${tempdoctor.id})}"
				   onclick="if (!(confirm('Вы уверены, что хотите удалить этого врача??'))) return false">
					Удалить</a>
			</td>
		</tr>
		</tbody>
	</table>
</div>
</body>
</html>




