<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Добавить лекарство</title>
</head>

<body>

<div th:replace="fragments/nav-bar/nav-bar :: nav"></div>

<div>
    <div></div>
    <div >
        <div>

            <h3>Справочник лекарств</h3>
            <br>

            <p>Добавить лекарство</p>

            <form action="#" th:action="@{/medicines/save}"
                  th:object="${medicine}" method="POST">
                <input type="hidden" th:field="*{id}" />

                <input type="text" th:field="*{companyName}"
                        placeholder="Название компании">

                <input type="date" th:field="*{manufactureDate}"
                        placeholder="Дата производства">

                <input type="date" th:field="*{expiryDate}"
                        placeholder="Дата истечения срока">

                <input type="text" th:field="*{type}"
                        placeholder="Тип">
                <button type="submit">Сохранить</button>
            </form>

            <a href="/medicines/list">Назад</a>
        </div>
    </div>
    <div></div>
</div>
</body>
</html>










