<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Справочник лекарств</title>
</head>

<body>

<div th:replace="fragments/nav-bar/nav-bar :: nav"></div>

<div>

    <h3>Справочник лекарств</h3>
    <hr>
    <a th:href="@{/medicines/addMedicine}" class="btn btn-primary btn-sm mb-3">
        Добавьте новое лекарство</a>
    <table>
        <thead>
        <tr>
            <th>Компания</th>
            <th>Дата изготовления</th>
            <th>Дата истечения срока действия</th>
            <th>Тип</th>
            <th>Действие</th>
            <th>Врач по болезни</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempmedicine : ${medicines}">
            <td th:text="${tempmedicine.companyName}"/>
            <td th:text="${tempmedicine.manufactureDate}"/>
            <td th:text="${tempmedicine.expiryDate}"/>
            <td th:text="${tempmedicine.type}"/>
            <td><a th:href="@{/medicines/showFormForUpdate(medicineId=${tempmedicine.id})}">Обновнить</a>
                <a th:href="@{/medicines/delete(medicineId=${tempmedicine.id})}"
                   onclick="if (!(confirm('Вы уверены, что хотите удалить лекарство??'))) return false">
                    Удалить</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>

</html>
