<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Справочник пациентов</title>
</head>

<body>

<div th:replace="fragments/nav-bar/nav-bar :: nav"></div>

<div class="container">

	<h3>Справочник пациентов</h3>
	<hr>
	<a th:href="@{/patients/addPatient}" class="btn btn-primary btn-sm mb-3">
		Добавить нового пациента</a>
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
		<tr>
			<th>Имя пациента</th>
			<th>Фамилия</th>
			<th>Пол</th>
			<th>CNIC</th>
			<th>Дата рождения</th>
			<th>История болезни</th>
			<th>Описание</th>
			<th>Доктор</th>
		</tr>
		</thead>

		<tbody>
		<tr th:each="tempPatient : ${patients}">

			<td th:text="${tempPatient.name}"></td>
			<td th:text="${tempPatient.fatherName}"></td>
			<td th:text="${tempPatient.gender}"></td>
			<td th:text="${tempPatient.CNIC}"></td>
			<td th:text="${tempPatient.dateOfBirth}"></td>
			<td th:text="${tempPatient.diseaseHistory}"></td>
			<td th:text="${tempPatient.prescription}"></td>
			<td th:text="${tempPatient.doctor}"></td>
			<td>
				<a th:href="@{/patients/showFormForUpdate(patientId=${tempPatient.id})}"
				   class="btn btn-info btn-sm">
					Update
				</a>

				<!-- Add "delete" button/link -->
				<a th:href="@{/patients/delete(patientId=${tempPatient.id})}"
				   class="btn btn-danger btn-sm"
				   onclick="if (!(confirm('Вы уверены, что хотите удалить этого пациента?'))) return false">
					Удалить
				</a>
			</td>

		</tr>
		</tbody>
	</table>

</div>
</body>

</html>




