<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Добавить болезнь</title>
</head>

<body>
<h2>Форма добавления/обновления болезни</h2>

<form action="#" th:action="@{/diseases/save}" th:object="${disease}" method="POST">
    <input type="hidden" th:field="*{id}">
    <label>Название болезни:</label>
    <input type="text" th:field="*{diseaseName}">
    <br>
    <label>Толкование:</label>
    <input type="text" th:field="*{description}">
    <button type="submit">Сохранить</button>
</form>

<a th:href="@{/diseases/list}">Вернуться к списку болезней</a>
</body>

</html>













