<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled</title>
    <link rel="stylesheet" href="../../../static/nav-bar/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../static/nav-bar/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="../../../static/nav-bar/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="../../../static/nav-bar/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="../../../static/nav-bar/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="../../../static/nav-bar/css/styles.css">
    <link rel="stylesheet" href="../../../static/nav-bar/css/Team-Boxed.css">
</head>

<body>
<div>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
        <div class="container">
            <a class="navbar-brand" href="/Home/home-page">Система управления пациентами</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navcol-1">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/patients/list">Пациенты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/doctors/list">Врачи</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/diseases/list">Болезни</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/medicines/list">Медикаменты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/contact-US">Свяжитесь с нами</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</body>
</html>
