<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled</title>
</head>

<body>
<div>
    <nav>
        <div>
            <a href="/Home/home-page">Система управления пациентами</a>
            <button type="button" data-toggle="collapse" data-target="#navcol-1">
                <span></span>
            </button>
            <div id="navcol-1">
                <ul>
                    <li>
                        <a href="/patients/list">Пациенты</a>
                    </li>
                    <li>
                        <a href="/doctors/list">Врачи</a>
                    </li>
                    <li>
                        <a href="/diseases/list">Болезни</a>
                    </li>
                    <li>
                        <a href="/medicines/list">Медикаменты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/contact-US">Свяжитесь с нами</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</body>
</html>
