<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled</title>
    <link rel="stylesheet" href="../../../static/Footer/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../static/Footer/fonts/ionicons.min.css">
    <link rel="stylesheet" href="../../../static/Footer/css/Article-List.css">
    <link rel="stylesheet" href="../../../static/Footer/css/Footer-Dark.css">
    <link rel="stylesheet" href="../../../static/Footer/css/styles.css">
</head>

<body>
<footer class="footer-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-6 item text">
                <h3>Мы открыты для вас!</h3>
                <p>
                    «Больнично-поликлиническое объединение №34» образовалось на базе поликлиники №34 за счет открытия
                    стационара на 2 терапевтических отделения в сентябре 1968 года согласно Приказа Горьковского
                    Горздравотдела №148 от 19.09.1968 г.
                </p>
                <p>
                    «Больнично-поликлиническое объединение №34» переименовано в «Городскую больницу №34» согласно
                    Приказа Райздравотдела Советского района №49 от 21.07.1980 г.
                </p>
                <p>
                    В связи с распоряжением Комитета по управлению городским имуществом Администрации г. Н.Новгорода
                    №58 от 06.05.1993 г. объединить «Поликлинику №44» и «Поликлиническое отделение Городской больницы
                    №34» в одно лечебное учреждение «Городская больница №34».
                </p>
                <p>
                    «Городская больница №34» переименована в Муниципальное лечебно-профилактическое учреждение
                    «Городская больница №34» согласно Распоряжения Главы местного самоуправления г. Н.Новгорода
                    №2868-р от 07.08.1998 г.
                </p>
                <p>
                    На основании Приказа директора департамента здравоохранения администрации г. Н.Новгорода от
                    27.11.2001 г. №674 «О присвоении статуса клинического лечебно-профилактического учреждения» МЛПУ
                    «Городская больница №34» считать МЛПУ «Городская клиническая больница №34».
                </p>
                <p>
                    Муниципальное лечебно-профилактическое учреждение «Городская клиническая больница №34» переименовано
                    в Государственное бюджетное учреждение здравоохранения Нижегородской области «Городская клиническая
                    больница №34 Советского района г. Нижнего Новгорода» согласно Приказа Министерства здравоохранения
                    Нижегородской области №2356 от 16.12.2011 г.
                </p>
            </div>
        </div>
    </div>
</footer>
</body>

</html>