<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="/Footer/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Footer/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/Footer/css/Article-List.css">
    <link rel="stylesheet" href="/Footer/css/Footer-Dark.css">
    <link rel="stylesheet" href="/Footer/css/styles.css">
    <link rel="stylesheet" href="/nav-bar/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/nav-bar/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="/nav-bar/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="/nav-bar/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="/nav-bar/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="/nav-bar/css/styles.css">
    <link rel="stylesheet" href="/nav-bar/css/Team-Boxed.css">
    <link rel="stylesheet" href="/Home/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Home/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/Home/css/Article-List.css">
    <link rel="stylesheet" href="/Home/css/styles.css">
</head>

<body>
<div th:replace="fragments/nav-bar/nav-bar :: nav"></div>
<div class="article-list">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Городская поликлиника № 34</h2>
            <p class="text-center">ГБУЗ НО «Городская клиническая больница №34 Советского района г. Нижнего Новгорода»</p>
        </div>
<!--        <div class="row articles">-->
<!--            <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="/Home/img/1.jpg"></a>-->
<!--                <h3 class="name">Doctor</h3>-->
<!--                <p class="description">Врачи делают людей здоровее. Когда люди заболевают, врачи выясняют причину. Они-->
<!--                    дают людям лекарства и другие виды лечения. Они также дают советы по питанию, физическим упражнениям и-->
<!--                    сну.</p><a class="action" href="#"><i class="fa fa-arrow-circle-right"></i></a></div>-->
<!--            <div-->
<!--                    class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="/Home/img/2.jpg"></a>-->
<!--                <h3 class="name">Больница</h3>-->
<!--                <p class="description">Больница - это медицинское учреждение, обеспечивающее лечение пациентов-->
<!--                    специализированным медицинским персоналом и сестринским уходом, а также медицинским оборудованием.</p><a class="action" href="#"><i-->
<!--                        class="fa fa-arrow-circle-right"></i></a></div>-->
<!--            <div-->
<!--                    class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="/Home/img/3.jpg"></a>-->
<!--                <h3 class="name">Медикаменты</h3>-->
<!--                <p class="description">Фармация - это наука и техника, связанные с приготовлением, отпуском и проверкой-->
<!--                    лекарственных средств, а также предоставлением дополнительных клинических услуг. Это медицинская профессия, которая связывает науку о здоровье-->
<!--                    с наукой о фармацевтике и направлена на обеспечение безопасного, эффективного и доступного использования-->
<!--                    лекарств.</p><a class="action" href="#"><i class="fa fa-arrow-circle-right"></i></a></div>-->
<!--        </div>-->
    </div>
</div>
<script src="/Home/js/jquery.min.js"></script>
<script src="/Home/bootstrap/js/bootstrap.min.js"></script>
<div th:replace="fragments/Footer/Footer :: footer"></div>
</body>

</html>